
.main-content {
    margin: auto;
    width: 80%;
}
.dropdown {
    position: relative;
    display: inline-block
}
.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    display: block;
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.links ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}
/* logo picture */
.home {
    width: 50%;
}
.header {
    width: 100%;
    overflow: hidden;
}
.header a {
    float: left;
    padding: 14px 16px;
    color: black;
    text-align: left;
    text-decoration: none;
    font-size: 17px;
    width: 20%;
}
.header a.sign-in {
    float: right;
    background-color: grey;
    border: 1px solid black;
    color: black;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    margin: 4px 2px;
    cursor: pointer;
}

.top-menu {
    width: 100%;
    background-color: #555;
    overflow: auto;
}
.top-menu a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 20%;
}
.top-menu a:hover {
    background-color: #000;
}
.top-menu a.active {
    background-color: #04AA6D;
}
