
.main-content {
    margin: auto;
    width: 80%;
}
.links ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}
/* logo picture */
.home {
    width: 50%;
}
.header {
    width: 100%;
    overflow: hidden;
}
.header a {
    float: left;
    padding: 14px 16px;
    color: black;
    text-align: left;
    text-decoration: none;
    font-size: 17px;
    width: 20%;
}
.header a.sign-in {
    float: right;
    background-color: grey;
    border: 1px solid black;
    color: black;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    margin: 4px 2px;
    cursor: pointer;
}

.top-menu {
    width: 100%;
    background-color: #555;
    overflow: auto;
}
.top-menu a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 20%;
}
.top-menu a:hover {
    background-color: #000;
}
.top-menu a.active {
    background-color: #04AA6D;
}

.author-info {
    width: 100%;
    text-align: left;
}
.author-info a {
    float: right;
    padding: 14px 16px;
    color: black;
    text-align: right;
    text-decoration: none;
    font-size: 17px;
    width: auto;
}
.author-info a.author {
    float: left;
    color: black;
    cursor: pointer;
}
.author-info a.social {
    float: right;
    cursor: pointer;
}
.article1 {
    align-self: center;
    width: 100%
}
ul {
    list-style-type: none;
    border: 1px solid black;
}
a {
    color: blue;
    font-style: underline;
}
.footer {
    width: 100%;
    overflow: hidden;
}
.footer a {
    float: left;
    padding: 14px 16px;
    color: black;
    text-align: right;
    text-decoration: none;
    font-size: 17px;
    width: 12%;
}
